* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 90%;
  margin: 0 auto;
  background-color: #ddd;
  padding: 10px 30px;
}

.header h3 {
  font-size: 30px;
  font-weight: 700;
}

.navbar {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.buttons {
  width: 50%;
}
.buttons button i {
  font-size: 15px;
}

.buttons button {
  padding: 12px;
  background: skyblue;
  border: none;
  outline: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  margin-right: 15px;
  border-radius: 10px;
  cursor: pointer;
}
.buttons-search {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.buttons-search i {
  font-size: 30px;
  color: gray;
}

.buttons-search input {
  width: 78%;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 18px;
}

.buttons-search button {
  padding: 10px 30px;
  background: skyblue;
  border: none;
  outline: none;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
}

.memberTable {
  width: 100%;
  padding: 30px;
}

.memberTable table {
  width: 94%;
  margin: 0 auto;
  border: 1px solid #ccc;
}
.memberTable table tr th {
  border-right: 1px solid #ccc;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.memberTable table tr th:last-child {
  border-right: none;
}
.memberTable table tr td:last-child {
  border-right: none;
}

.memberTable table tr td {
  border-right: 1px solid #ccc;
  text-align: center;
  padding: 8px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}
.memberTable table tr td button {
  width: 20%;
  border: none;
  outline: none;
  background: transparent;
  margin: 0 10px;
}

.memberTable table tr td button i {
  font-size: 20px;
  cursor: pointer;
}

.modal {
  background: #ece9e9;
  width: 55%;
  height: auto;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  display: flex;
  opacity: 0;
  z-index: -1;
  transition: 0.5s ease-in-out;
}

.modal.active {
  opacity: 1;
  z-index: 1;
  width: 60%;
}
.left-modal {
  width: 30%;
  height: 100%;
}
.right-modal {
  width: 70%;
  height: 100%;
  border-left: 5px solid skyblue;
}

.modal .left-modal .image-box {
  width: 100%;
}
.modal .left-modal .image-box img {
  width: 50%;
  height: 50%;
  margin: 20px;
  border-radius: 50%;
  padding: 10px;
  position: relative;
}
.left-modal .file-icon i {
  cursor: pointer;
  color: skyblue;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  left: 170px;
  top: 80px;
}
.left-modal .file-icon input {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70px;
  left: 170px;
  opacity: 0;
}
.right-modal .input-modal {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding: 30px; */
}
.right-modal .input-modal label {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  font-family: sans-serif;
}
.right-modal .input-modal input {
  width: 70%;
  outline: none;
  border: none;
  padding: 5px;
  font-size: 15px;
  margin: 10px;
  border-radius: 5px;
}
.button1 button {
  border: none;
  outline: none;
  padding: 10px 90px;
  
  margin-top: 30px;
  font-size: 15px;
  color: white;
  font-weight: bold;
  margin-left: 60px;
  cursor: pointer;
  margin-bottom: 15px;
  border-radius: 5px;
}
.modal .times {
  position: absolute;
  right: 0;
  font-size: 25px;
  margin-top: -12px;
  cursor: pointer;
  margin-right: -10px;
}
.modal .times i {
  color: red;
}
