@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 80%;
  height: 40px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 20px;
}
#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#search-input {
  border: none;
  border-bottom: 2px solid #000;
  background: transparent;
  outline: none;
  font-size: 20px;
  padding: 10px;
}

#search {
  background-color: rgb(254, 98, 50);
  padding: 8px 40px;
  color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  font-size: 15px;
  letter-spacing: 1.2px;
  margin-left: 20px;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 15px;
  padding: 10px;
}

.button-value {
  padding: 3px 10px;
  outline: none;
  border-color: tomato;
  cursor: pointer;
  color: tomato;
  border-radius: 30px;
  background: transparent;
}

.hide {
  display: none;
}

.active {
  background-color: tomato;
  color: #fff;
}

#products {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.img-container {
  text-align: center;
}
img {
  min-width: 100%;
  object-fit: contain;
  height: 250px;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}
h3 {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}
h5 {
  margin-top: 5px;
}

@media screen and (max-width: 720px) {
  #products {
    display: grid;
    grid-template-columns: auto auto;
  }
}
